<div class="tweet row">
  <div class="col-xs-12 col-sm-6 col-centered tweet-inner-container">    
    <div class="tweet-header">
      <%= content_tag :span, tweet.creator_name, class: 'tweet-creator-name' %>  
      <%= content_tag :span, "@#{tweet.creator_username}", class: 'tweet-creator-username' %>  
    </div>
    <%= content_tag :span, tweet.text, class: 'tweet-text' %><br>      
    <%= link_to "https://twitter.com/#{tweet.creator_username}/status/#{tweet.twitter_id}", target: '_blank' do %>
      <%= local_time_ago(tweet.twitter_created_at) %>
    <% end %>
  </div>
</div>